#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Use network installation
url --url="http://download.eng.brq.redhat.com/pub/fedora/releases/29/Workstation/x86_64/os/"
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s25 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$GCstVeysPnj1MAKb$CQ1QYOoaR.hzq6iqvEY.9eQUvx/2Ze3WrRWyYtDQn.IQAVIZzNs0YafvoAX5s8MhHQt3sOv0s.qcaxaRRx12Q/
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Prague --isUtc --ntpservers=clock01.util.phx2.redhat.com,clock02.util.phx2.redhat.com
user --name=oh --password=$6$hpOfz1uJg83x3b8J$QvGhm.BQ5gy52yt2VXOgC7zPXGi3gAq0kvpx29Hnh11ZDrCct0t9SkJikiw3u7RXfwP.ytI0nz83pjH4Fw3Ft1 --iscrypted --gecos="oh"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
part pv.252 --fstype="lvmpv" --ondisk=sda --size=304220
part /boot --fstype="ext4" --ondisk=sda --size=1024
volgroup fedora --pesize=4096 pv.252
logvol swap  --fstype="swap" --size=7991 --name=swap --vgname=fedora
logvol /  --fstype="ext4" --grow --size=1024 --name=root --vgname=fedora
logvol /home  --fstype="ext4" --grow --size=500 --name=home --vgname=fedora

%packages
@^workstation-product-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
%end

%post

dnf -y install gcc rpm-build vim-enhanced make git mc supertux
CONTEST_DIR="contest-2019"
pushd /home/oh/
git clone https://github.com/ClosedHouse/"${CONTEST_DIR}".git
chmod o+rx "./${CONTEST_DIR}"
chmod +x ./"${CONTEST_DIR}"/cleanup/cleanup
chmod -R o-rx ./"${CONTEST_DIR}"/.git/

bash ./"${CONTEST_DIR}"/cleanup/cleanup
popd

%end


